
/* Entire Grid */
.grid-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/* Single Grid Row */
.grid-row {
    display: flex;
}

/* Single Grid Item */
.grid-object {
    display: flex;
    border: 2px solid black;
    background-color: grey;
    font-weight: 2em;
    height: 100px;
    width: 100px;
    align-items: center;    
    justify-content: center;
    background-repeat: no-repeat;
}

/* Grid item that cannot move */
.fixed {
    background-color: green;
}

/* Grid item that can move */
.free {
    background-color: white;
}


.image-container {
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}

.square-move {
    animation-name: myMove;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 2s;
}

@keyframes myMove {
    from {transform: translateY(0px);}
    from {transform: translateY(23px);}
}

p {
    line-height: 32px;   /* within paragraph */
    margin-bottom: 10px; /* between paragraphs */
    margin-left: 60px;
    }

