
/* Entire Grid */
.grid-container {
    display: flex;
    flex-direction: column;
}

/* Single Grid Row */
.grid-row {
    display: flex;
}

/* Single Grid Item */
.grid-object {
    display: flex;
    border: 2px solid black;
    background-color: red;
    font-weight: 2em;
    height: 70px;
    width: 70px;
    align-items: center;    
    justify-content: center;
}

/* Grid item that cannot move */
.fixed {
    background-color: green;
}

/* Grid item that can move */
.free {
    background-color: white;
}